<template>
  <div>
    <div>
      <v-card to="detail">
        <v-img
          :aspect-ratio="16 / 9"
          dark
          gradient="to top, rgba(25,32,72,.7), rgba(25,32,72,.0)"
          height="500px"
          src="https://images.pexels.com/photos/3244513/pexels-photo-3244513.jpeg"
        >
          <v-card-text class="fill-height d-flex align-end">
            <v-row class="flex-column">
              <v-col>
                <v-btn color="accent" to="category">Travel</v-btn>
              </v-col>
              <v-col cols="12" lg="8" md="10" xl="7">
                <h2 class="text-h3 py-3" style="line-height: 1.2">
                  Great Travel Blogs From Around The World To Inspire You
                </h2>
              </v-col>
              <v-col class="d-flex align-center">
                <v-avatar class="elevation-4" color="accent">
                  <v-icon large>mdi-feather</v-icon>
                </v-avatar>

                <div class="text-h6 pl-2">By {{ blogs.id }}</div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-img>
      </v-card>
    </div>

    <v-row>
      <v-col cols="12" lg="12" xl="8">
        <div>
          <div class="pt-16">
            <h2 class="text-h4 font-weight-bold pb-4">Recommended For You</h2>

            <v-row>
              <blog-item-component
                v-for="blog in blogs"
                :key="`blog-` + blog.id"
                :blog="blog"
              ></blog-item-component>
            </v-row>
          </div>

          <div class="pt-16" v-if="!$vuetify.breakpoint.mdAndDown">
            <h2 class="text-h4 font-weight-bold pb-4">Featured</h2>

            <v-row>
              <v-col
                v-for="blog in blogs.slice(0, 3)"
                :key="blog.id"
                cols="6"
                lg="4"
              >
                <v-hover
                  v-slot:default="{ hover }"
                  close-delay="70"
                  open-delay="50"
                >
                  <div>
                    <v-card
                      :color="hover ? 'white' : 'transparent'"
                      :elevation="hover ? 14 : 0"
                      hover
                      :to="'/blog/' + blog.id"
                      dark
                      flat
                    >
                      <v-img
                        :aspect-ratio="16 / 9"
                        :class="{ onhover: hover }"
                        gradient="to top, rgba(25,32,72,.4), rgba(25,32,72,.0)"
                        height="400px"
                        :src="
                          blog.photo
                            ? apiDomain + blog.photo
                            : 'https://picsum.photos/200/300'
                        "
                      >
                        <div
                          class="d-flex flex-column justify-space-between fill-height"
                        >
                          <!-- <v-card-text>
                            <v-btn color="accent" @click="lebar">ANIMALS</v-btn>
                          </v-card-text> -->
                          <div></div>

                          <v-card-text>
                            <div
                              class="text-h5 py-3 font-weight-bold"
                              style="line-height: 1.2"
                            >
                              {{ blog.title.substring(0, 15) }}
                            </div>

                            <div class="d-flex align-center">
                              <v-avatar color="accent" size="36">
                                <v-icon dark>mdi-feather</v-icon>
                              </v-avatar>

                              <div class="pl-2">
                                By {{ blog.id }} · {{ blog.created_at | luxon }}
                              </div>
                            </div>
                          </v-card-text>
                        </div>
                      </v-img>
                    </v-card>
                  </div>
                </v-hover>
              </v-col>
            </v-row>
          </div>

          <div class="pt-16" v-if="!$vuetify.breakpoint.lgAndUp">
            <h2 class="text-h4 font-weight-bold pb-4">Featured</h2>

            <v-row>
              <v-col
                v-for="blog in blogs.slice(0, 4)"
                :key="blog.id"
                cols="6"
                lg="4"
              >
                <v-hover
                  v-slot:default="{ hover }"
                  close-delay="70"
                  open-delay="50"
                >
                  <div>
                    <v-card
                      :color="hover ? 'white' : 'transparent'"
                      :elevation="hover ? 14 : 0"
                      hover
                      :to="'/blog/' + blog.id"
                      dark
                      flat
                    >
                      <v-img
                        :aspect-ratio="16 / 9"
                        :class="{ onhover: hover }"
                        gradient="to top, rgba(25,32,72,.4), rgba(25,32,72,.0)"
                        height="400px"
                        :src="
                          blog.photo
                            ? apiDomain + blog.photo
                            : 'https://picsum.photos/200/300'
                        "
                      >
                        <div
                          class="d-flex flex-column justify-space-between fill-height"
                        >
                          <v-card-text>
                            <v-btn color="accent">ANIMALS</v-btn>
                          </v-card-text>
                          <div></div>

                          <v-card-text>
                            <div
                              class="text-h5 py-3 font-weight-bold"
                              style="line-height: 1.2"
                            >
                              {{ blog.title.substring(0, 15) }}
                            </div>

                            <div class="d-flex align-center">
                              <v-avatar color="accent" size="36">
                                <v-icon dark>mdi-feather</v-icon>
                              </v-avatar>

                              <div class="pl-2">
                                By {{ blog.id }} · {{ blog.created_at | luxon }}
                              </div>
                            </div>
                          </v-card-text>
                        </div>
                      </v-img>
                    </v-card>
                  </div>
                </v-hover>
              </v-col>
            </v-row>
          </div>

          <div class="pt-16">
            <h2 class="text-h4 font-weight-bold">Latest Posts</h2>

            <div>
              <v-row v-for="blog in blogs" :key="blog.id" class="py-4">
                <v-col cols="12" md="4">
                  <v-card flat height="100%">
                    <v-img
                      :aspect-ratio="16 / 9"
                      height="100%"
                      :src="
                        blog.photo
                          ? apiDomain + blog.photo
                          : 'https://picsum.photos/200/300'
                      "
                    ></v-img>
                  </v-card>
                </v-col>

                <v-col>
                  <div>
                    <v-btn color="accent" depressed :to="'/blog/' + blog.id"
                      >SEE MORE DETAILS</v-btn
                    >

                    <h3 class="text-h4 font-weight-bold pt-3">
                      {{ blog.title }}
                    </h3>

                    <p class="text-h6 font-weight-regular pt-3 text--secondary">
                      {{ blog.description }}
                    </p>

                    <div class="d-flex align-center">
                      <v-avatar color="accent" size="36">
                        <v-icon dark>mdi-feather</v-icon>
                      </v-avatar>

                      <div class="pl-2">
                        By {{ blog.id }} · {{ blog.created_at | luxon }}
                      </div>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </div>
          </div>
        </div>
      </v-col>

      <v-col>
        <div class="pt-16"></div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import SanberApi from '../services/api.services';
import { mapGetters } from 'vuex';

export default {
  data: () => ({
    blogs: [],
    apiDomain: 'http://demo-api-vue.sanbercloud.com',
  }),

  components: {
    'blog-item-component': () => import('../components/BlogItemComponent'),
  },

  computed: {
    ...mapGetters({
      guest: 'auth/guest',
      user: 'auth/user',
      token: 'auth/token',
    }),
  },

  methods: {
    lebar() {
      console.log(this.$vuetify.breakpoint.width);
    },

    ismobile() {},
    async fetchData() {
      await SanberApi.get('/v2/blog/random/6')
        .then((response) => {
          let { blogs } = response.data;
          this.blogs = blogs;
          console.log(this.blogs);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  created() {
    this.fetchData();
  },
};
</script>
<style scoped>
.onhover {
  height: 450px !important;
}
</style>
