<template>
  <div class="d-flex flex-column mb-6">
    <v-card v-for="n in 3" :key="n" class="pa-2 ma-" outlined tile>
      Flex item {{ n }}
    </v-card>
  </div>
</template>

<v-container class="grey lighten-5">
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <v-row no-gutters justify="space-around">
      <v-col
        v-for="n in 3"
        :key="n"
        cols="6"
        md="4"
        class="d-flex justify-center"
      >
        <v-card class="pa-6" outlined tile> .col-6 .col-md-4 </v-card>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col></v-col>
    </v-row>
  </v-container>
