<template>
  <v-app>
    <Alert />
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="8">
            <v-card class="elevation-12">
              <v-window v-model="step">
                <v-window-item :value="1">
                  <v-row>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1
                          class="text-center display-2 teal--text text--accent-3"
                        >
                          Sign in to Blogs
                        </h1>

                        <h4 class="text-center mt-4">
                          Ensure your email for registration
                        </h4>
                        <Login />
                      </v-card-text>
                    </v-col>
                    <v-col cols="12" md="4" class="card">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Welcome Back!</h1>
                        <h4 class="text-center mt-5 mb-5">
                          Enter your personal details and start journay with us
                        </h4>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step++"
                          >SIGN UP</v-btn
                        >
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
                <v-window-item :value="2">
                  <v-row class="fill-height">
                    <v-col cols="12" md="4" class="teal accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Hello, Friend!</h1>
                        <h4 class="text-center mt-5 mb-5">
                          To Keep connected with us please Sign Up with your
                          personnel info
                        </h4>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step--"
                          >Sign in</v-btn
                        >
                      </div>
                    </v-col>

                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1
                          class="text-center display-2 teal--text text--accent-3"
                        >
                          Create Account
                        </h1>

                        <h4 class="text-center mt-4">
                          Ensure your email for registration
                        </h4>
                        <Register />
                      </v-card-text>
                    </v-col>
                  </v-row>
                </v-window-item>
              </v-window>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  components: {
    Login: () => import('../components/Masuk.vue'),
    Register: () => import('../components/Register.vue'),
    Alert: () => import('../components/Alert.vue'),
  },

  data: () => ({
    step: 1,
    form: { email: '', password: '', name: '', photo: '' },
    login: { email: '', password: '' },
  }),

  metaInfo: {
    title: 'Login',
  },

  props: {
    source: String,
  },

  computed: {
    ...mapGetters({
      guest: 'auth/guest',
      user: 'auth/user',
      token: 'auth/token',
    }),
  },

  methods: {
    loginUser() {
      this.setDialogueComponent({
        component: 'login',
      });
    },

    addFiles: function (event) {
      const namaFile = event;
      this.form.photo = namaFile;
    },
    ...mapActions({
      setAlert: 'alert/set',
      setDialogueComponent: 'dialogue/setComponent',
      setToken: 'auth/setToken',
      setUser: 'auth/setUser',
      checkToken: 'auth/checkToken',
    }),

    submit() {
      console.log(this.form.name);
      console.log(this.form.email);
      console.log(this.form.password);
      console.log(this.form.photo);
      let formData = new FormData();
      formData.append('name', this.form.name);
      formData.append('email', this.form.email);
      formData.append('password', this.form.password);
      formData.append('photo_profile', this.photo);

      const config = {
        method: 'post',
        url: 'https://demo-api-vue.sanbercloud.com/api/v2/auth/register',
        data: formData,
      };
      this.axios(config)
        .then((response) => {
          console.log(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    ...mapActions({
      setAlert: 'alert/set',
      setToken: 'auth/setToken',
    }),

    submitLogin() {
      console.log(this.login.email);
      const config = {
        method: 'post',
        url: 'https://demo-api-vue.sanbercloud.com/api/v2/auth/login',
        data: {
          email: this.login.email,
          password: this.login.password,
        },
      };

      this.axios(config)
        .then((response) => {
          console.log(response.data);
          this.setToken(response.data.access_token);

          this.setAlert({
            status: true,
            color: 'success',
            text: 'Login berhasil',
          });
          this.close();
        })
        .catch((response) => {
          console.log(response);

          this.setAlert({
            status: false,
            color: 'error',
            text: 'Login Gagal',
          });
        });
    },
  },
};
</script>

<style scoped>
.card {
  backdrop-filter: blur(20px);
  background-color: royalblue;
}
</style>
