<template>
  <v-col cols="12" lg="4" md="6">
    <v-hover v-slot:default="{ hover }" close-delay="50" open-delay="50">
      <div>
        <v-card
          :color="hover ? 'white' : 'transparent'"
          :elevation="hover ? 12 : 0"
          flat
          hover
          :to="'/blog/' + blog.id"
        >
          <v-img
            :aspect-ratio="16 / 9"
            class="elevation-2"
            gradient="to top, rgba(25,32,72,.4), rgba(25,32,72,.0)"
            height="200px"
            :src="
              blog.photo
                ? apiDomain + blog.photo
                : 'https://picsum.photos/200/300'
            "
            style="border-radius: 16px"
          >
            <!-- <v-card-text>
              <v-btn color="accent" to="/blogs">TIPS</v-btn>
            </v-card-text> -->
          </v-img>

          <v-card-text>
            <div class="text-h5 font-weight-bold primary--text">
              {{ blog.title.substring(0, 15) }}
            </div>

            <div class="text-body-1 py-4">
              {{ blog.description.substring(0, 30) }}
            </div>

            <div class="d-flex align-center">
              <v-avatar color="accent" size="36">
                <v-icon dark>mdi-feather</v-icon>
              </v-avatar>

              <div class="pl-2">
                By {{ blog.id }} · {{ blog.created_at | luxon }}
              </div>
            </div>
          </v-card-text>
        </v-card>
      </div>
    </v-hover>
  </v-col>
</template>

<script>
export default {
  data: () => ({
    apiDomain: 'http://demo-api-vue.sanbercloud.com',
  }),
  props: ['blog'],
};
</script>
