<template>
  <keep-alive>
    <v-dialog
      v-model="dialogue"
      fullscreen
      hide-overlay
      persistent
      transition="dialog-bottom-transition"
    >
      <component
        :is="currentComponent"
        @closed="setDialogueKondisi"
      ></component>
    </v-dialog>
  </keep-alive>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  components: {
    login: () => import('./Masuk.vue'),
  },

  computed: {
    ...mapGetters({
      dialogueKondisi: 'dialogue/kondisi',
      currentComponent: 'dialogue/component',
    }),

    dialogue: {
      get() {
        return this.dialogueKondisi;
      },
      set(value) {
        this.setDialogueKondisi(value);
      },
    },
  },
  methods: {
    ...mapActions({
      setDialogueKondisi: 'dialogue/setKondisi',
    }),
  },
};
</script>
