<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on" @click="handleClick(data)">Edit</v-btn>
            </template>
            <v-card>
                <v-card-title>
                    <span class="text-h5">Edit Blog</span>
                </v-card-title>
                <v-card-text>
                    <v-img max-height="150" max-width="100%" :src="api + data.photo"></v-img>
                    <v-container>
                        <v-text-field
                            :value="data.title"
                            label="Judul"
                            @keyup="handleTitleChange($event)"
                            required
                            :disabled="isLoading"
                        ></v-text-field>
                        <v-text-field
                            name="input-7-1"
                            label="Deskripsi Blog"
                            @keyup="handleDescChange($event)"
                            :value="data.description"
                            :disabled="isLoading"
                        ></v-text-field>

                        <v-file-input @change="handleImage($event, data.id)" label="Tambahkan Foto"></v-file-input>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false">Tutup</v-btn>
                    <v-btn
                        color="blue darken-1"
                        text
                        @click="[dialog = false, handleUpdate(data.id)]"
                    >Perbarui</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
import SanberApi from '../services/api.services.js'
import { mapGetters, mapActions } from 'vuex'

export default {
    props: { data: Object, fetch: Function },

    data: () => ({
        isLoading: false,
        api: 'http://demo-api-vue.sanbercloud.com/',
        dialog: false,
        title: '',
        description: '',
    }),

    computed: {
        ...mapGetters({
            token: 'auth/token',
        })
    },


    methods: {
        ...mapActions({
            setAlert: 'alert/set',
        }),


        async handleUpdate(id) {
            let formData = new FormData()
            formData.append('title', this.title)
            formData.append('description', this.description)

            await SanberApi.post(`/v2/blog/${id}`, formData, {
                headers: {
                    Authorization: `Bearer ${this.token}`
                },
                params: { _method: "PUT" }
            }).then(() => {
                this.setAlert({
                    status: true,
                    color: 'success',
                    text: 'Blog berhasil diupdate!',
                })
                this.fetch()
            }).catch(err => {
                this.setAlert({
                    status: false,
                    color: 'error',
                    text: 'Terjadi kesalahan',
                })
                console.log(err.message)
            })
        },

        async handleImage(e, id) {
            this.isLoading = true
            let formData = new FormData();
            formData.append("photo", e);

            await SanberApi.post(`/v2/blog/${id}/upload-photo`, formData, {
                headers: {
                    Authorization: `Bearer ${this.token}`
                },
            }).then(() => {
                this.setAlert({
                    status: true,
                    color: 'success',
                    text: 'Gambar berhasil ditambahkan!',
                })
                this.fetch()
            }).catch(() => {
                this.setAlert({
                    status: false,
                    color: 'error',
                    text: 'Terjadi kesalahan',
                })
            })

            this.isLoading = false
        },

        handleClick(data) {
            this.title = data.title
            this.description = data.description
        },

        handleTitleChange(e) {
            this.title = e.target.value
        },

        handleDescChange(e) {
            this.description = e.target.value
        }
    },


}
</script>