<template>
  <div>
    <v-card color="primary" dark app absolute flat>
      <v-container>
        <v-row align="center">
          <v-col cols="12" md="3">
            <h4 class="text-h5 font-weight-bold">Portofolio-Blog-App</h4>
            <p class="text-body-1">
              Blog portofolio using vue for personal,using vuetify as UI and
              style form getbootstrap
            </p>
          </v-col>

          <v-col cols="12" md="3">
            <v-list flat color="transparent">
              <v-subheader class="text-h6">Blog-App</v-subheader>
              <v-list-item-group color="primary">
                <v-list-item
                  v-for="(item, i) in Texts"
                  :key="i"
                  :href="item.href"
                  dense
                  target="_blank"
                >
                  <v-list-item-content>
                    <v-list-item-title
                      class="text-body-1"
                      v-text="item.text"
                    ></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-col>

          <v-col cols="12" md="3">
            <v-list flat color="transparent">
              <v-subheader class="text-h6">Contact Me</v-subheader>
              <v-list-item-group color="primary">
                <v-list-item
                  v-for="(item, i) in links"
                  :key="i"
                  :href="item.href"
                  dense
                  target="_blank"
                >
                  <v-list-item-content>
                    <v-list-item-title
                      class="text-body-1"
                      v-text="item.text"
                    ></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-col>

          <v-col cols="12" md="3">
            <div>
              <h5 class="text-h6 font-weight-bold">Subscribe</h5>
              <p class="text-body-1">
                The latest Blog news, articles, and resources, sent straight to
                your inbox every month.
              </p>
            </div>

            <v-row>
              <v-col cols="8">
                <v-text-field
                  label="Filled"
                  solo
                  light
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col cols="4">
                <v-btn large block color="secondary"> Subscribe </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <div class="text-center mt-6">
          Blog Portofolio &copy;
          <a
            class="white--text"
            href="https://gitlab.com/arieftyabudi/jcc-project-blogs"
            target="_blank"
            rel="noopener noreferrer"
            >Blog-App.Me</a
          >
          {{ new Date().getFullYear() }}
        </div>
      </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    Texts: [
      {
        text: 'GitLab',
        href: 'https://gitlab.com/arieftyabudi/jcc-project-blogs',
      },
      {
        text: 'Vuetify',
        href: 'https://vuetifyjs.com/en/',
      },
    ],
    links: [
      {
        text: 'Telegram',
        href: 'https://t.me/arieftyabudi',
      },
      {
        text: 'Instagram',
        href: 'https://www.instagram.com/arieftyabudi/',
      },
    ],
  }),
};
</script>
