<template>
  <v-container fluid>
    <v-form ref="registerForm" v-model="valid" lazy-validation>
      <v-text-field
        v-model="name"
        label="Masukkan Nama"
        clearable
        :rules="[rules.required, rules.counterText]"
        append-icon="mdi-account"
        solo=""
      >
      </v-text-field>

      <v-text-field
        v-model="email"
        label="Masukkan E-mail"
        :rules="[rules.required, rules.email]"
        clearable
        append-icon="mdi-email"
        solo
      >
      </v-text-field>

      <v-text-field
        v-model="password"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPassword ? 'text' : 'password'"
        label="Masukkan password"
        :rules="[rules.required, rules.counterPassword]"
        clearable
        solo
        counter
        @click:append="showPassword = !showPassword"
      ></v-text-field>

      <v-text-field
        v-model="verify"
        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
        :type="show1 ? 'text' : 'password'"
        label="Konfirmasi password"
        :rules="[rules.required, passwordMatch]"
        outlined
        clearable
        dense
        counter
        @click:append="showPassword = !show1"
      ></v-text-field>

      <v-file-input
        label="Unggah Foto Profie"
        prepend-icon=""
        append-icon="camera"
        solo
        @change="addFiles($event)"
      ></v-file-input>

      <div class="text-center mt-5">
        <v-btn
          rounded
          color="teal accent-3 mb-6"
          dark
          width="16rem"
          :disabled="!valid"
          @click="register"
        >
          Register
          <v-icon right dark>mdi-lock-open</v-icon>
        </v-btn>
      </div>
    </v-form>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      email: '',
      showPassword: false,
      show1: false,
      password: '',
      verify: '',
      name: '',
      photo: '',
      api: 'http://demo-api-vue.sanbercloud.com/',
      valid: false,
      rules: {
        required: (value) => !!value || 'Required.',
        counterText: (value) => value.length <= 30 || 'Max 30 characters',
        counterPassword: (value) => value.length >= 8 || 'Min 8 characters',
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || 'Invalid e-mail.';
        },
      },
    };
  },

  computed: {
    passwordMatch() {
      return () => this.password === this.verify || 'Password must match';
    },
  },

  methods: {
    clearForm() {
      setTimeout(
        () => (this.name = ''),
        (this.email = ''),
        (this.password = ''),
        (this.verify = ''),
        (this.photo = ''),
        2000
      );
    },
    ...mapActions({
      setAlert: 'alert/set',
      setToken: 'auth/setToken',
      setDialogueComponent: 'dialogue/setComponent',
    }),

    close() {
      this.$emit('closed', false);
    },

    addFiles: function (event) {
      const namaFile = event;
      this.photo = namaFile;
    },

    register() {
      if (this.$refs.registerForm.validate()) {
        let formData = new FormData();
        formData.append('email', this.email),
          formData.append('password', this.password),
          formData.append('name', this.name),
          formData.append('photo_profile', this.photo);

        const config = {
          method: 'post',
          url: 'https://demo-api-vue.sanbercloud.com/api/v2/auth/register',
          data: formData,
        };

        this.axios(config)
          .then(() => {
            this.setAlert({
              status: true,
              color: 'success',
              text: 'Berhasi tedaftar',
            });

            this.close();
            this.$refs.registerForm.resetValidation(),
              this.setDialogueComponent({
                component: 'login',
              });
          })
          .catch((responses) => {
            this.setAlert({
              status: true,
              color: 'error',
              text: responses.data.error,
            });
          });
      }
      this.clearForm();
    },
  },
};
</script>
