<template>
  <v-app style="background-color: #f8f9fe">
    <Alert />
    <AppBar></AppBar>
    <!-- <v-navigation-drawer app v-model="drawer" absolute>
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img
              :src="
                user.photo_profile
                  ? apiDomain + user.photo_profile
                  : 'https://randomuser.me/api/portraits/men/78.jpg'
              "
            ></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ user.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <div v-if="guest">
          <v-list-item
            v-for="(item, index) in guestMenus"
            :key="`menu+${index}`"
            :to="item.route"
          >
            <v-list-item-icon>
              <v-icon left>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>

        <div v-else>
          <v-list-item
            v-for="(item, index) in menus"
            :key="`menu+${index}`"
            :to="item.route"
          >
            <v-list-item-icon>
              <v-icon left>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-list>

      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer> -->

    <!-- <v-app-bar app color="primary" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Welcome {{ user.name }}</v-toolbar-title>
    </v-app-bar> -->
    <v-main>
      <v-container class="mt-16">
        <v-slide-y-transition>
          <!-- If using vue-router -->
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>
    <Footer></Footer>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
  components: {
    Alert: () => import('./components/Alert'),
    Footer: () => import('./components/Footer'),
    AppBar: () => import('./components/AppBar'),
  },

  name: 'App',

  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: 'Home',
    // all titles will be injected into this template
    titleTemplate: '%s  |  JCC Participant Blogs',
  },

  data: () => ({
    drawer: false,
    guestMenus: [{ title: 'Login', icon: 'mdi-key', route: '/login' }],
    menus: [
      { title: 'Home', icon: 'mdi-home', route: '/' },
      { title: 'Blogs ', icon: 'mdi-text', route: '/blogs' },
      { title: 'Create ', icon: 'mdi-note', route: '/create' },
      { title: 'Edit ', icon: 'mdi-pencil', route: '/edit' },
    ],
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
  }),
  computed: {
    ...mapGetters({
      guest: 'auth/guest',
      user: 'auth/user',
      token: 'auth/token',
    }),
  },

  methods: {
    logout() {
      let config = {
        method: 'post',
        url: 'https://demo-api-vue.sanbercloud.com/api/v2/auth/logout',
        headers: {
          Authorization: 'Bearer ' + this.token,
        },
      };
      this.axios(config)
        .then(() => {
          this.setToken('');
          this.setUser({});

          this.setAlert({
            status: true,
            color: 'success',
            text: 'Anda berhasil logout',
          });
        })
        .catch((responses) => {
          this.setAlert({
            status: true,
            color: 'error',
            text: responses,
          });
        });
      this.goToLogin();
    },
    ...mapActions({
      setAlert: 'alert/set',
      setToken: 'auth/setToken',
      setUser: 'auth/setUser',
    }),
  },
  // mounted(){
  //   if(this.token){
  //    this.checkToken(this.token)
  //   }
  // }
};
</script>
